@charset "UTF-8";

*{
    
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #516DA6,#E8DDC2);
}

main{
    box-shadow:5px 5px 15px #000c0ec0;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    padding:10px ;
    margin: auto;
}

h1{
    text-align: center;
    text-shadow: 1px 1px 3px #00646dd3;
    color: #012326;
}
h2{
    color:#516DA6 ;
}


p{
    text-align: justify;
}